In [21]:
import pandas as pd
from datetime import datetime

In [22]:
df1_WS2 = pd.read_csv("/Users/asteriag/Desktop/DATASCIENCEPROJECT_WORKFLOW/pythonProject/segment1_workflowS2.csv")

In [23]:
df1_WS2.head(n=2)

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1172679|570743|869833,Send for Assessment,Send for Assessment,24/1/2020 15:09:59,1172679,NaN,1,Y,1. App to Assessment,Part 1 - Application ID Workflow,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,NaN,NaN,Y
1,1079339|441319|682219,Send for Assessment,Send for Assessment,26/2/2019 16:50:16,1079339,NaN,22,N,1. App to Assessment,Part 1 - Application ID Workflow,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,Y,$DEF,Y

In [24]:
def strfdelta(tdelta, fmt):
    d = {"days": tdelta.days}
    d["hours"], rem = divmod(tdelta.seconds, 3600)
    d["minutes"], d["seconds"] = divmod(rem, 60)
    return fmt.format(**d)
def calculate_time_duration_str(str1,str2):
    t1=datetime.strptime(str1,'%d/%m/%Y %H:%M:%S')
    t2=datetime.strptime(str2,'%d/%m/%Y %H:%M:%S')
    s=strfdelta(t1-t2,"{days} days {hours} hours {minutes} minutes {seconds} seconds")
    return s
def calculate_time_duration_second(str1,str2):
    t1=datetime.strptime(str1,'%d/%m/%Y %H:%M:%S')
    t2=datetime.strptime(str2,'%d/%m/%Y %H:%M:%S')
    diff = t1-t2
    return diff.total_seconds()

In [25]:
for i in range(len(df1_WS2)-1):
    id=df1_WS2.loc[i,'CASE_ID']
    next_id=df1_WS2.loc[i+1,'CASE_ID']
    if next_id == id:
        df1_WS2.loc[i,'time_used_str']=calculate_time_duration_str(df1_WS2.loc[i+1,'PATH_CRDATETIME'],df1_WS2.loc[i,'PATH_CRDATETIME'])
        df1_WS2.loc[i,'time_used_second']=calculate_time_duration_second(df1_WS2.loc[i+1,'PATH_CRDATETIME'],df1_WS2.loc[i,'PATH_CRDATETIME'])
    elif next_id != id:
        df1_WS2.loc[i,'time_used_str']= 'NA'
        df1_WS2.loc[i,'time_used_second']= 0

df1_WS2.loc[len(df1_WS2)-1,'time_used_str']= 'NA'
df1_WS2.loc[len(df1_WS2)-1,'time_used_second']= 0
df1_WS2.to_csv('segment1_WS2_has_duration.csv',index=False)