In [16]:
import pandas as pd
from datetime import datetime

In [17]:
df1_WS4 = pd.read_csv("/Users/asteriag/Desktop/DATASCIENCEPROJECT_WORKFLOW/pythonProject/segment1_workflowS4.csv")

In [18]:
df1_WS4.head(n=2)

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1079339|441319|682219,Release Offer,Release Offer,11/5/2019 14:07:56,ATKINSONM,Faculty,16,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,Y,$DEF,Y
1,1079339|441319|682219,Defer,Defer,27/6/2019 13:41:59,ATKINSONM,Faculty,15,N,4. Post offer,Part 2 - Application Line ID Workflow,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,Y,$DEF,Y

In [19]:
def strfdelta(tdelta, fmt):
    d = {"days": tdelta.days}
    d["hours"], rem = divmod(tdelta.seconds, 3600)
    d["minutes"], d["seconds"] = divmod(rem, 60)
    return fmt.format(**d)
def calculate_time_duration_str(str1,str2):
    t1=datetime.strptime(str1,'%d/%m/%Y %H:%M:%S')
    t2=datetime.strptime(str2,'%d/%m/%Y %H:%M:%S')
    s=strfdelta(t1-t2,"{days} days {hours} hours {minutes} minutes {seconds} seconds")
    return s
def calculate_time_duration_second(str1,str2):
    t1=datetime.strptime(str1,'%d/%m/%Y %H:%M:%S')
    t2=datetime.strptime(str2,'%d/%m/%Y %H:%M:%S')
    diff = t1-t2
    return diff.total_seconds()

In [20]:
for i in range(len(df1_WS4)-1):
    id=df1_WS4.loc[i,'CASE_ID']
    next_id=df1_WS4.loc[i+1,'CASE_ID']
    if next_id == id:
        df1_WS4.loc[i,'time_used_str']=calculate_time_duration_str(df1_WS4.loc[i+1,'PATH_CRDATETIME'],df1_WS4.loc[i,'PATH_CRDATETIME'])
        df1_WS4.loc[i,'time_used_second']=calculate_time_duration_second(df1_WS4.loc[i+1,'PATH_CRDATETIME'],df1_WS4.loc[i,'PATH_CRDATETIME'])
    elif next_id != id:
        df1_WS4.loc[i,'time_used_str']= 'NA'
        df1_WS4.loc[i,'time_used_second']= 0

df1_WS4.loc[len(df1_WS4)-1,'time_used_str']= 'NA'
df1_WS4.loc[len(df1_WS4)-1,'time_used_second']= 0
df1_WS4.to_csv('segment1_WS4_has_duration.csv',index=False)