In [39]:
import pandas as pd
from datetime import datetime

In [40]:
df3_WS1 = pd.read_csv("/Users/asteriag/Desktop/DATASCIENCEPROJECT_WORKFLOW/pythonProject/segment3_workflowS1.csv")

In [41]:
df3_WS1.head(n=2)

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1161800|550469|842233,Submit,Submit,18/11/2019 22:13:27,GUEST,Student,9,N,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,NaN,NaN,N
1,1161800|550469|842233,AR - Satisfied - work experience,AR - Satisfied - Curriculum Vitae,25/11/2019 13:12:12,KNAVIN,Academic Services,8,N,1. App to Assessment,Part 6 - Requirement Verify,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,NaN,NaN,N

In [42]:
def strfdelta(tdelta, fmt):
    d = {"days": tdelta.days}
    d["hours"], rem = divmod(tdelta.seconds, 3600)
    d["minutes"], d["seconds"] = divmod(rem, 60)
    return fmt.format(**d)
def calculate_time_duration_str(str1,str2):
    t1=datetime.strptime(str1,'%d/%m/%Y %H:%M:%S')
    t2=datetime.strptime(str2,'%d/%m/%Y %H:%M:%S')
    s=strfdelta(t1-t2,"{days} days {hours} hours {minutes} minutes {seconds} seconds")
    return s
def calculate_time_duration_second(str1,str2):
    t1=datetime.strptime(str1,'%d/%m/%Y %H:%M:%S')
    t2=datetime.strptime(str2,'%d/%m/%Y %H:%M:%S')
    diff = t1-t2
    return diff.total_seconds()

In [43]:
for i in range(len(df3_WS1)-1):
    id=df3_WS1.loc[i,'CASE_ID']
    next_id=df3_WS1.loc[i+1,'CASE_ID']
    if next_id == id:
        df3_WS1.loc[i,'time_used_str']=calculate_time_duration_str(df3_WS1.loc[i+1,'PATH_CRDATETIME'],df3_WS1.loc[i,'PATH_CRDATETIME'])
        df3_WS1.loc[i,'time_used_second']=calculate_time_duration_second(df3_WS1.loc[i+1,'PATH_CRDATETIME'],df3_WS1.loc[i,'PATH_CRDATETIME'])
    elif next_id != id:
        df3_WS1.loc[i,'time_used_str']= 'NA'
        df3_WS1.loc[i,'time_used_second']= 0

df3_WS1.loc[len(df3_WS1)-1,'time_used_str']= 'NA'
df3_WS1.loc[len(df3_WS1)-1,'time_used_second']= 0

df3_WS1.to_csv('segment3_WS1_has_duration.csv', index=False)