In [21]:
import pandas as pd
from datetime import datetime

In [22]:
df2_WS3 = pd.read_csv("/Users/asteriag/Desktop/DATASCIENCEPROJECT_WORKFLOW/TimeStamp_Engineering/engineering_AS_segment2_workflowS3.csv",engine='python')

In [23]:
df2_WS3.head(n=2)

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,521428|372279|580506,Assessment Outcome - Successful,Assessment Outcome - Successful,2/8/2018 12:41:52,CHRISTINAA,Faculty,15,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AS,AS,Y,$ACC,Y
1,521428|372279|580506,Create Offer,Create Offer,2/8/2018 12:42:04,CHRISTINAA,Faculty,14,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AS,AS,Y,$ACC,Y

In [24]:
def strfdelta(tdelta, fmt):
    d = {"days": tdelta.days}
    d["hours"], rem = divmod(tdelta.seconds, 3600)
    d["minutes"], d["seconds"] = divmod(rem, 60)
    return fmt.format(**d)
def calculate_time_duration_str(str1,str2):
    t1=datetime.strptime(str1,'%d/%m/%Y %H:%M:%S')
    t2=datetime.strptime(str2,'%d/%m/%Y %H:%M:%S')
    s=strfdelta(t1-t2,"{days} days {hours} hours {minutes} minutes {seconds} seconds")
    return s
def calculate_time_duration_second(str1,str2):
    t1=datetime.strptime(str1,'%d/%m/%Y %H:%M:%S')
    t2=datetime.strptime(str2,'%d/%m/%Y %H:%M:%S')
    diff = t1-t2
    return diff.total_seconds()

In [25]:
for i in range(len(df2_WS3)-1):
    id=df2_WS3.loc[i,'CASE_ID']
    next_id=df2_WS3.loc[i+1,'CASE_ID']
    if next_id == id:
        df2_WS3.loc[i,'time_used_str']=calculate_time_duration_str(df2_WS3.loc[i+1,'PATH_CRDATETIME'],df2_WS3.loc[i,'PATH_CRDATETIME'])
        df2_WS3.loc[i,'time_used_second']=calculate_time_duration_second(df2_WS3.loc[i+1,'PATH_CRDATETIME'],df2_WS3.loc[i,'PATH_CRDATETIME'])
    elif next_id != id:
        df2_WS3.loc[i,'time_used_str']= 'NA'
        df2_WS3.loc[i,'time_used_second']= 0

df2_WS3.loc[len(df2_WS3)-1,'time_used_str']= 'NA'
df2_WS3.loc[len(df2_WS3)-1,'time_used_second']= 0
df2_WS3.to_csv('engineering_AS_segment2_workflowS3_has_duration.csv',index=False)