In [1]:
import csv
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [57]:
segment3_workflow3=pd.read_csv('segment3_workflowS3.csv')
segment3_workflow3.CASE_ID.mode()

0    1102908|470757|722758
dtype: object

In [58]:
segment3_workflow3.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1067449|424909|657898,Assessment Outcome - Successful,Assessment Outcome - Successful,18/12/2018 11:34:06,KRIT,Faculty,7,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
1,1067449|424909|657898,Create Offer,Create Offer,18/12/2018 11:34:51,KRIT,Faculty,6,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
2,1067449|424909|657898,Release Offer,Release Offer,18/12/2018 11:36:07,KRIT,Faculty,5,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
3,1021374|367597|573577,Assessment Outcome - Successful,Assessment Outcome - Successful,12/7/2018 10:07:14,ATKINSONM,Faculty,12,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N
4,1021374|367597|573577,Create Offer,Create Offer,12/7/2018 10:07:30,ATKINSONM,Faculty,11,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N

In [59]:
segment3_workflow3['WRKFLW_TSK_MAP_DETAILED'].nunique()

34

In [60]:
segment3_workflow3=segment3_workflow3.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment3_workflow3.head()

                 CASE_ID          WRKFLW_TSK_MAP_DETAILED
0  1067449|424909|657898  Assessment Outcome - Successful
1  1067449|424909|657898                     Create Offer
2  1067449|424909|657898                    Release Offer
3  1021374|367597|573577  Assessment Outcome - Successful
4  1021374|367597|573577                     Create Offer

In [61]:
numOfWorkflowProcesses=segment3_workflow3.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses.head()

CASE_ID
1000727|431447|668147    4
1001829|336678|526826    3
1001877|336757|526956    3
1002271|337186|527523    3
1007394|346044|540306    3
Name: CASE_ID, dtype: int64

In [62]:
counts = segment3_workflow3['CASE_ID'].value_counts()

In [63]:
counts.head()

1102908|470757|722758    12
1147799|528824|809849    11
1025815|366554|572153    10
1120436|490900|754192     9
1140264|517887|794176     9
Name: CASE_ID, dtype: int64

In [462]:
filtered = counts[counts == 12]
seg3_count1=segment3_workflow3[segment3_workflow3['CASE_ID'].isin(filtered.index)]

In [463]:
seg3_count1['CASE_ID'].nunique()

1

In [424]:
seg3_count1.head()

                    CASE_ID                       WRKFLW_TSK_MAP_DETAILED
1015  1025815|366554|572153           Assessment Outcome - Not Successful
1016  1025815|366554|572153               Assessment Outcome - Successful
1017  1025815|366554|572153                                  Create Offer
1018  1025815|366554|572153               Assessment Decision - Qualified
1019  1025815|366554|572153  OC - Created - Evidence of course completion

In [425]:
y = pd.get_dummies(seg3_count1.WRKFLW_TSK_MAP_DETAILED)
y=y[:0]

In [426]:
y

Empty DataFrame
Columns: [Assessment Decision - Qualified, Assessment Outcome - Not Successful, Assessment Outcome - Successful, Create Offer, OC - Created - Evidence of course completion, Put Assessment On-Hold, Release Assessment Hold, Release Offer]
Index: []

In [427]:
y["CASE_ID"]=""

In [428]:
col_name="CASE_ID"
first_col = y.pop(col_name)

In [429]:
y.insert(0, col_name, first_col)

In [430]:
y['CASE_ID']=seg3_count1['CASE_ID'].unique()

In [431]:
import numpy as np
y = y.replace(np.nan,0, regex=True)
y.head()

,CASE_ID,Assessment Decision - Qualified,Assessment Outcome - Not Successful,Assessment Outcome - Successful,Create Offer,OC - Created - Evidence of course completion,Put Assessment On-Hold,Release Assessment Hold,Release Offer
0,1025815|366554|572153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [432]:
dict_1=seg3_count1.to_dict(orient='list')

In [433]:
case_id = dict_1['CASE_ID']

In [434]:
workflow = dict_1['WRKFLW_TSK_MAP_DETAILED']

In [435]:
print(type(workflow))
print(len(workflow))

<class 'list'>
10

In [436]:
from collections import defaultdict

case_wf_dict = defaultdict(list)

for i in range(len(case_id)):
    item = case_id[i]
    case_wf_dict[item].append(workflow[i])
print(len(case_wf_dict))

1

In [437]:
y = y.set_index('CASE_ID')

In [438]:
y.head()

,Assessment Decision - Qualified,Assessment Outcome - Not Successful,Assessment Outcome - Successful,Create Offer,OC - Created - Evidence of course completion,Put Assessment On-Hold,Release Assessment Hold,Release Offer
CASE_ID,,,,,,,,
1025815|366554|572153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [439]:
y_col_name = y.columns.values.tolist()
print(y_col_name)

['Assessment Decision - Qualified', 'Assessment Outcome - Not Successful', 'Assessment Outcome - Successful', 'Create Offer', 'OC - Created - Evidence of course completion', 'Put Assessment On-Hold', 'Release Assessment Hold', 'Release Offer']

In [440]:
for key in case_wf_dict.keys():
    for process in case_wf_dict[key]:
        if process in y_col_name:
            y.loc[key, process] = 1
        else:
            continue

In [441]:
pd.set_option('display.max_rows', None)

In [442]:
def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [443]:
y.head()

,Assessment Decision - Qualified,Assessment Outcome - Not Successful,Assessment Outcome - Successful,Create Offer,OC - Created - Evidence of course completion,Put Assessment On-Hold,Release Assessment Hold,Release Offer
CASE_ID,,,,,,,,
1025815|366554|572153,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [445]:
y = movecol(y, 
             cols_to_move=['Assessment Outcome - Successful'], 
             ref_col='Assessment Decision - Qualified',
             place='Before')

In [407]:
y = movecol(y, 
             cols_to_move=['Release Offer'], 
             ref_col='Send for Assessment',
             place='After')

In [446]:
pd.set_option('display.max_columns',None)

In [447]:
y.head()

,Assessment Outcome - Successful,Assessment Decision - Qualified,Assessment Outcome - Not Successful,Create Offer,OC - Created - Evidence of course completion,Put Assessment On-Hold,Release Assessment Hold,Release Offer
CASE_ID,,,,,,,,
1025815|366554|572153,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [448]:
y.shape

(1, 8)

In [449]:
y=y.fillna(0.0)

In [450]:
X=y.iloc[:,0:7].values
Y=y.iloc[:,7].values

In [451]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

ValueError: With n_samples=1, test_size=0.3 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [452]:
# Linear SVM
svm = LinearSVC()
svm.fit(x_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0.0

In [453]:
svm_predict = svm.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svm_predict)*100,2)))

AttributeError: 'LinearSVC' object has no attribute 'coef_'

In [454]:
# Logistic Regression
lr = LogisticRegression()
lr.fit(x_train,y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0.0

In [455]:
lr_predict=lr.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, lr_predict)*100,2)))

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

In [458]:
# K Nearest Neighbors
Knn = KNeighborsClassifier(n_neighbors=2)
Knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [459]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

ValueError: Expected n_neighbors <= n_samples,  but n_samples = 1, n_neighbors = 2