In [1]:
import csv
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [7]:
segment2_workflow3=pd.read_csv('segment2_workflowS3.csv')
segment2_workflow3.CASE_ID.mode()

0    1180405|574868|875432
dtype: object

In [8]:
segment2_workflow3.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1139423|516709|792465,Assessment Outcome - Successful,Assessment Outcome - Successful,27/11/2019 10:32:37,CHRISTINAA,Faculty,9,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AS,AS,Y,$ACC,Y
1,1139423|516709|792465,Create Offer,Create Offer,27/11/2019 10:32:55,CHRISTINAA,Faculty,8,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AS,AS,Y,$ACC,Y
2,1139423|516709|792465,Release Offer,Release Offer,27/11/2019 10:36:49,CHRISTINAA,Faculty,7,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AS,AS,Y,$ACC,Y
3,836673|527943|808557,Assessment Outcome - Successful,Assessment Outcome - Successful,30/10/2019 16:07:05,ATKINSONM,Faculty,6,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AS,AS,Y,$DEF,Y
4,836673|527943|808557,Create Offer,Create Offer,30/10/2019 16:07:25,ATKINSONM,Faculty,5,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AS,AS,Y,$DEF,Y

In [9]:
segment2_workflow3['WRKFLW_TSK_MAP_DETAILED'].nunique()

41

In [10]:
segment2_workflow3=segment2_workflow3.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment2_workflow3.head()

                 CASE_ID          WRKFLW_TSK_MAP_DETAILED
0  1139423|516709|792465  Assessment Outcome - Successful
1  1139423|516709|792465                     Create Offer
2  1139423|516709|792465                    Release Offer
3   836673|527943|808557  Assessment Outcome - Successful
4   836673|527943|808557                     Create Offer

In [11]:
numOfWorkflowProcesses=segment2_workflow3.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses.head()

CASE_ID
1000870|335395|524947    6
1001146|382147|595222    3
1003741|551868|844300    3
1006581|343740|536884    1
1006581|343740|536885    3
Name: CASE_ID, dtype: int64

In [12]:
counts = segment2_workflow3['CASE_ID'].value_counts()

In [13]:
counts.head()

1180405|574868|875432    12
695378|427086|661822     10
990545|323544|511318     10
1026644|367739|573803    10
540204|473640|726804      9
Name: CASE_ID, dtype: int64

In [230]:
filtered = counts[counts == 10]
seg1_count1=segment2_workflow3[segment2_workflow3['CASE_ID'].isin(filtered.index)]

In [231]:
seg1_count1['CASE_ID'].nunique()

3

In [232]:
seg1_count1.head()

                  CASE_ID              WRKFLW_TSK_MAP_DETAILED
989  990545|323544|511318  Assessment Outcome - Not Successful
990  990545|323544|511318      Assessment Decision - Qualified
991  990545|323544|511318      Assessment Decision - Qualified
992  990545|323544|511318      Assessment Decision - Qualified
993  990545|323544|511318      Assessment Decision - Qualified

In [233]:
y = pd.get_dummies(seg1_count1.WRKFLW_TSK_MAP_DETAILED)
y=y[:0]

In [234]:
y

Empty DataFrame
Columns: [AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - English language proficiency, Assessment Decision - No Decision, Assessment Decision - Not Qualified, Assessment Decision - Qualified, Assessment Outcome - Not Successful, Assessment Outcome - Successful, Create Offer, End My Assessment, OC - Created - Evidence of course completion, Put Assessment On-Hold, Release Assessment Hold, Release Offer, Send for Assessment]
Index: []

In [235]:
y["CASE_ID"]=""

In [236]:
col_name="CASE_ID"
first_col = y.pop(col_name)

In [237]:
y.insert(0, col_name, first_col)

In [238]:
y['CASE_ID']=seg1_count1['CASE_ID'].unique()

In [239]:
import numpy as np
y = y.replace(np.nan,0, regex=True)
y.head()

,CASE_ID,AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - English language proficiency,Assessment Decision - No Decision,Assessment Decision - Not Qualified,Assessment Decision - Qualified,Assessment Outcome - Not Successful,Assessment Outcome - Successful,Create Offer,End My Assessment,OC - Created - Evidence of course completion,Put Assessment On-Hold,Release Assessment Hold,Release Offer,Send for Assessment
0,990545|323544|511318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1026644|367739|573803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,695378|427086|661822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [240]:
dict_1=seg1_count1.to_dict(orient='list')

In [241]:
case_id = dict_1['CASE_ID']

In [242]:
workflow = dict_1['WRKFLW_TSK_MAP_DETAILED']

In [243]:
print(type(workflow))
print(len(workflow))

<class 'list'>
30

In [244]:
from collections import defaultdict

case_wf_dict = defaultdict(list)

for i in range(len(case_id)):
    item = case_id[i]
    case_wf_dict[item].append(workflow[i])
print(len(case_wf_dict))

3

In [245]:
y = y.set_index('CASE_ID')

In [246]:
y.head()

,AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - English language proficiency,Assessment Decision - No Decision,Assessment Decision - Not Qualified,Assessment Decision - Qualified,Assessment Outcome - Not Successful,Assessment Outcome - Successful,Create Offer,End My Assessment,OC - Created - Evidence of course completion,Put Assessment On-Hold,Release Assessment Hold,Release Offer,Send for Assessment
CASE_ID,,,,,,,,,,,,,,
990545|323544|511318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1026644|367739|573803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
695378|427086|661822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [247]:
y_col_name = y.columns.values.tolist()
print(y_col_name)

['AR - Satisfied - Academic results for prior tertiary studies', 'AR - Satisfied - English language proficiency', 'Assessment Decision - No Decision', 'Assessment Decision - Not Qualified', 'Assessment Decision - Qualified', 'Assessment Outcome - Not Successful', 'Assessment Outcome - Successful', 'Create Offer', 'End My Assessment', 'OC - Created - Evidence of course completion', 'Put Assessment On-Hold', 'Release Assessment Hold', 'Release Offer', 'Send for Assessment']

In [248]:
for key in case_wf_dict.keys():
    for process in case_wf_dict[key]:
        if process in y_col_name:
            y.loc[key, process] = 1
        else:
            continue

In [249]:
pd.set_option('display.max_rows', None)

In [250]:
def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [251]:
y.head()

,AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - English language proficiency,Assessment Decision - No Decision,Assessment Decision - Not Qualified,Assessment Decision - Qualified,Assessment Outcome - Not Successful,Assessment Outcome - Successful,Create Offer,End My Assessment,OC - Created - Evidence of course completion,Put Assessment On-Hold,Release Assessment Hold,Release Offer,Send for Assessment
CASE_ID,,,,,,,,,,,,,,
990545|323544|511318,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1026644|367739|573803,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
695378|427086|661822,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0

In [252]:
y = movecol(y, 
             cols_to_move=['Assessment Outcome - Successful'], 
             ref_col='AR - Satisfied - Academic results for prior tertiary studies',
             place='Before')

In [253]:
y = movecol(y, 
             cols_to_move=['Release Offer'], 
             ref_col='Send for Assessment',
             place='After')

In [254]:
pd.set_option('display.max_columns',None)

In [255]:
y.shape

(3, 14)

In [256]:
y=y.fillna(0.0)

In [257]:
X=y.iloc[:,0:13].values
Y=y.iloc[:,13].values

In [258]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

In [259]:
# Linear SVM
svm = LinearSVC()
svm.fit(x_train, y_train)

LinearSVC()

In [260]:
svm_predict = svm.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svm_predict)*100,2)))

accuracy: 100.0%

In [261]:
# Logistic Regression
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [262]:
lr_predict=lr.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, lr_predict)*100,2)))

accuracy: 100.0%

In [267]:
# K Nearest Neighbors
Knn = KNeighborsClassifier(n_neighbors=1)
Knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [268]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

accuracy: 100.0%