In [1]:
import csv
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [3]:
segment1_workflow2=pd.read_csv('segment1_workflowS2.csv')
segment1_workflow2.CASE_ID.mode()

0    1027460|368796|575450
dtype: object

In [4]:
segment1_workflow2.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,804599|387970|604118,Send for Assessment,Send for Assessment,7/9/2018 13:40:42,804599,NaN,16,N,1. App to Assessment,Part 1 - Application ID Workflow,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,Y,$DEF,Y
1,804599|387970|604118,Assessment Decision - Qualified,Assessment Decision - Qualified,14/9/2018 10:49:48,POTTS,Faculty,15,N,2. Perform Assessment,Part 4 - Assessment Decision,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,Y,$DEF,Y
2,804599|387970|604118,Acacdemic - Assessment Decision - Qualified,Acacdemic - Assessment Decision - Qualified,17/9/2018 13:11:36,SEANBM,Academic,14,N,2. Perform Assessment,Part 4 - Assessment Decision,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,Y,$DEF,Y
3,804599|387970|604118,End My Assessment,End My Assessment,17/9/2018 13:11:42,MTSC,Academic Services,13,N,1. App to Assessment,Part 1 - Application ID Workflow,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,Y,$DEF,Y
4,804599|387970|604118,Assessment Outcome - Successful,Assessment Outcome - Successful,19/9/2018 10:22:41,KRIT,Faculty,12,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,MDYI,Mid Year Intake,MCW,HDCW,Full Degree,OF,OF,Y,$DEF,Y

In [5]:
segment1_workflow2['WRKFLW_TSK_MAP_DETAILED'].nunique()

194

In [6]:
segment1_workflow2=segment1_workflow2.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment1_workflow2.head()

                CASE_ID                      WRKFLW_TSK_MAP_DETAILED
0  804599|387970|604118                          Send for Assessment
1  804599|387970|604118              Assessment Decision - Qualified
2  804599|387970|604118  Acacdemic - Assessment Decision - Qualified
3  804599|387970|604118                            End My Assessment
4  804599|387970|604118              Assessment Outcome - Successful

In [7]:
numOfWorkflowProcesses=segment1_workflow2.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses.head()

CASE_ID
1000124|358605|558960     6
1000151|334421|523525     3
1000151|334421|523527     3
1000236|334503|523645     9
1000455|387482|603354    12
Name: CASE_ID, dtype: int64

In [8]:
counts = segment1_workflow2['CASE_ID'].value_counts()

In [9]:
counts.head()

1027460|368796|575450    32
1091544|468219|719161    28
786367|405984|629695     25
1059123|412741|639829    24
960040|271990|433242     24
Name: CASE_ID, dtype: int64

In [977]:
filtered = counts[counts == 25]
seg1_count1=segment1_workflow2[segment1_workflow2['CASE_ID'].isin(filtered.index)]

In [978]:
seg1_count1['CASE_ID'].nunique()

1

In [979]:
seg1_count1.head()

                   CASE_ID                 WRKFLW_TSK_MAP_DETAILED
2841  786367|405984|629695                     Send for Assessment
2842  786367|405984|629695         Assessment Decision - Qualified
2843  786367|405984|629695         Assessment Decision - Qualified
2844  786367|405984|629695                          Back to Triage
2845  786367|405984|629695  AR - Created - Further information (1)

In [980]:
y = pd.get_dummies(seg1_count1.WRKFLW_TSK_MAP_DETAILED)
y=y[:0]

In [981]:
y

Empty DataFrame
Columns: [AR - Created - Entry points (Master of Information Systems), AR - Created - Further information (1), AR - Created - Further information (2), AR - Created - Specialisation (Master of Information Systems), AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - Advanced Standing, AR - Satisfied - Appointment of authorised representative, AR - Satisfied - Current enrolment at the University of Melbourne, AR - Satisfied - Entry points (Master of Information Systems), AR - Satisfied - Further information (1), AR - Satisfied - Further information (2), AR - Satisfied - Specialisation (Master of Information Systems), AR - Satisfied - Sponsorship arrangements, Acacdemic - Assessment Decision - Qualified, Assessment Decision - Qualified, Assessment Outcome - Successful, Back to Triage, End My Assessment, Put Triage On-Hold, Release Triage Hold, Send for Assessment]
Index: []

In [982]:
y["CASE_ID"]=""

In [983]:
col_name="CASE_ID"
first_col = y.pop(col_name)

In [984]:
y.insert(0, col_name, first_col)

In [985]:
y['CASE_ID']=seg1_count1['CASE_ID'].unique()

In [986]:
import numpy as np
y = y.replace(np.nan,0, regex=True)
y.head()

,CASE_ID,AR - Created - Entry points (Master of Information Systems),AR - Created - Further information (1),AR - Created - Further information (2),AR - Created - Specialisation (Master of Information Systems),AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,AR - Satisfied - Appointment of authorised representative,AR - Satisfied - Current enrolment at the University of Melbourne,AR - Satisfied - Entry points (Master of Information Systems),AR - Satisfied - Further information (1),AR - Satisfied - Further information (2),AR - Satisfied - Specialisation (Master of Information Systems),AR - Satisfied - Sponsorship arrangements,Acacdemic - Assessment Decision - Qualified,Assessment Decision - Qualified,Assessment Outcome - Successful,Back to Triage,End My Assessment,Put Triage On-Hold,Release Triage Hold,Send for Assessment
0,786367|405984|629695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [987]:
dict_1=seg1_count1.to_dict(orient='list')

In [988]:
case_id = dict_1['CASE_ID']

In [989]:
workflow = dict_1['WRKFLW_TSK_MAP_DETAILED']

In [990]:
print(type(workflow))
print(len(workflow))

<class 'list'>
25

In [991]:
from collections import defaultdict

case_wf_dict = defaultdict(list)

for i in range(len(case_id)):
    item = case_id[i]
    case_wf_dict[item].append(workflow[i])
print(len(case_wf_dict))

1

In [992]:
y = y.set_index('CASE_ID')

In [993]:
y.head()

,AR - Created - Entry points (Master of Information Systems),AR - Created - Further information (1),AR - Created - Further information (2),AR - Created - Specialisation (Master of Information Systems),AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,AR - Satisfied - Appointment of authorised representative,AR - Satisfied - Current enrolment at the University of Melbourne,AR - Satisfied - Entry points (Master of Information Systems),AR - Satisfied - Further information (1),AR - Satisfied - Further information (2),AR - Satisfied - Specialisation (Master of Information Systems),AR - Satisfied - Sponsorship arrangements,Acacdemic - Assessment Decision - Qualified,Assessment Decision - Qualified,Assessment Outcome - Successful,Back to Triage,End My Assessment,Put Triage On-Hold,Release Triage Hold,Send for Assessment
CASE_ID,,,,,,,,,,,,,,,,,,,,,
786367|405984|629695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [994]:
y_col_name = y.columns.values.tolist()
print(y_col_name)

['AR - Created - Entry points (Master of Information Systems)', 'AR - Created - Further information (1)', 'AR - Created - Further information (2)', 'AR - Created - Specialisation (Master of Information Systems)', 'AR - Satisfied - Academic results for prior tertiary studies', 'AR - Satisfied - Advanced Standing', 'AR - Satisfied - Appointment of authorised representative', 'AR - Satisfied - Current enrolment at the University of Melbourne', 'AR - Satisfied - Entry points (Master of Information Systems)', 'AR - Satisfied - Further information (1)', 'AR - Satisfied - Further information (2)', 'AR - Satisfied - Specialisation (Master of Information Systems)', 'AR - Satisfied - Sponsorship arrangements', 'Acacdemic - Assessment Decision - Qualified', 'Assessment Decision - Qualified', 'Assessment Outcome - Successful', 'Back to Triage', 'End My Assessment', 'Put Triage On-Hold', 'Release Triage Hold', 'Send for Assessment']

In [995]:
for key in case_wf_dict.keys():
    for process in case_wf_dict[key]:
        if process in y_col_name:
            y.loc[key, process] = 1
        else:
            continue

In [996]:
pd.set_option('display.max_rows', None)

In [997]:
def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [998]:
y.head()

,AR - Created - Entry points (Master of Information Systems),AR - Created - Further information (1),AR - Created - Further information (2),AR - Created - Specialisation (Master of Information Systems),AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,AR - Satisfied - Appointment of authorised representative,AR - Satisfied - Current enrolment at the University of Melbourne,AR - Satisfied - Entry points (Master of Information Systems),AR - Satisfied - Further information (1),AR - Satisfied - Further information (2),AR - Satisfied - Specialisation (Master of Information Systems),AR - Satisfied - Sponsorship arrangements,Acacdemic - Assessment Decision - Qualified,Assessment Decision - Qualified,Assessment Outcome - Successful,Back to Triage,End My Assessment,Put Triage On-Hold,Release Triage Hold,Send for Assessment
CASE_ID,,,,,,,,,,,,,,,,,,,,,
786367|405984|629695,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [999]:
y = movecol(y, 
             cols_to_move=['Send for Assessment'], 
             ref_col='AR - Created - Entry points (Master of Information Systems)',
             place='Before')

In [1000]:
y = movecol(y, 
             cols_to_move=['Assessment Outcome - Successful'], 
             ref_col='Release Triage Hold',
             place='After')

In [1001]:
y = movecol(y, 
             cols_to_move=['Assessment Outcome - Not Successful'], 
             ref_col='Release Triage Hold',
             place='After')

KeyError: "['Assessment Outcome - Not Successful'] not in index"

In [1002]:
pd.set_option('display.max_columns',None)

In [1003]:
y.shape

(1, 21)

In [1004]:
y=y.fillna(0.0)

In [1005]:
X=y.iloc[:,0:20].values
Y=y.iloc[:,20].values

In [1006]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

ValueError: With n_samples=1, test_size=0.3 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [1007]:
# Linear SVM
svm = LinearSVC()
svm.fit(x_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1.0

In [1008]:
svm_predict = svm.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svm_predict)*100,2)))

AttributeError: 'LinearSVC' object has no attribute 'coef_'

In [1009]:
# Logistic Regression
lr = LogisticRegression()
lr.fit(x_train,y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1.0

In [1010]:
lr_predict=lr.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, lr_predict)*100,2)))

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

In [1013]:
# K Nearest Neighbors
Knn = KNeighborsClassifier(n_neighbors=3)
Knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [1014]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

ValueError: Expected n_neighbors <= n_samples,  but n_samples = 2, n_neighbors = 3