In [1]:
import csv
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [2]:
segment3_workflow1=pd.read_csv('segment3_workflowS1.csv')
segment3_workflow1.CASE_ID.mode()

0    1175521|568653|866936
dtype: object

In [3]:
segment3_workflow2=pd.read_csv('segment3_workflowS2.csv')
segment3_workflow2.CASE_ID.mode()

0    1114684|484215|743082
dtype: object

In [4]:
segment3_workflow3=pd.read_csv('segment3_workflowS3.csv')
segment3_workflow3.CASE_ID.mode()

0    1102908|470757|722758
dtype: object

In [6]:
segment3_workflow4=pd.read_csv('segment3_workflowS4.csv')
segment3_workflow4.CASE_ID.mode()

0    1052275|402830|625246
dtype: object

In [7]:
segment3_workflow1.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1067449|424909|657898,Submit,Submit,26/11/2018 17:58:06,GUEST,Student,15,N,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
1,1067449|424909|657898,AR - Satisfied - previous or current study,AR - Satisfied - Academic results for prior te...,7/12/2018 10:51:18,ATSCHORN,Academic Services,14,N,1. App to Assessment,Part 6 - Requirement Verify,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
2,1067449|424909|657898,AR - Not Satisfied - ELR,AR - Not Satisfied - English language proficiency,7/12/2018 10:51:38,ATSCHORN,Academic Services,13,N,1. App to Assessment,Part 6 - Requirement Verify,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
3,1067449|424909|657898,OC - Created - Other,OC - Created - English language requirements,7/12/2018 10:51:46,ATSCHORN,Academic Services,12,N,1. App to Assessment,Part 5 - Requirement Create,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
4,1067449|424909|657898,AR - Created - Other,AR - Created - Assessment information (Coursew...,7/12/2018 11:00:43,ATSCHORN,Academic Services,11,N,1. App to Assessment,Part 5 - Requirement Create,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y

In [8]:
segment3_workflow2.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1067449|424909|657898,Send for Assessment,Send for Assessment,7/12/2018 11:01:50,1067449,NaN,9,N,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
1,1067449|424909|657898,Acacdemic - Assessment Decision - Qualified,Acacdemic - Assessment Decision - Qualified,14/12/2018 15:55:39,RGORDON1,Academic,8,N,2. Perform Assessment,Part 4 - Assessment Decision,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
2,1067449|424909|657898,Assessment Outcome - Successful,Assessment Outcome - Successful,18/12/2018 11:34:06,KRIT,Faculty,7,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
3,913640|554685|848410,Send for Assessment,Send for Assessment,3/12/2019 11:06:46,913640,NaN,1,Y,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,NaN,NaN,NaN
4,1021374|367597|573577,Send for Assessment,Send for Assessment,26/6/2018 11:26:41,1021374,NaN,17,N,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N

In [9]:
segment3_workflow3.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1067449|424909|657898,Assessment Outcome - Successful,Assessment Outcome - Successful,18/12/2018 11:34:06,KRIT,Faculty,7,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
1,1067449|424909|657898,Create Offer,Create Offer,18/12/2018 11:34:51,KRIT,Faculty,6,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
2,1067449|424909|657898,Release Offer,Release Offer,18/12/2018 11:36:07,KRIT,Faculty,5,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
3,1021374|367597|573577,Assessment Outcome - Successful,Assessment Outcome - Successful,12/7/2018 10:07:14,ATKINSONM,Faculty,12,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N
4,1021374|367597|573577,Create Offer,Create Offer,12/7/2018 10:07:30,ATKINSONM,Faculty,11,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N

In [10]:
segment3_workflow4.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1067449|424909|657898,Release Offer,Release Offer,18/12/2018 11:36:07,KRIT,Faculty,5,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
1,1067449|424909|657898,OC - Satisfied - Other,OC - Satisfied - English language requirements,25/1/2019 15:18:53,KNAVIN,Academic Services,4,N,1. App to Assessment,Part 6 - Requirement Verify,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
2,1067449|424909|657898,Accept,Accept,6/2/2019 9:12:01,KRIT,Faculty,3,N,4. Post offer,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
3,1021374|367597|573577,Release Offer,Release Offer,12/7/2018 10:10:52,ATKINSONM,Faculty,10,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N
4,1021374|367597|573577,Accept,Accept,8/8/2018 12:14:54,ATKINSONM,Faculty,9,N,4. Post offer,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N

In [8]:
segment3_workflow1['WRKFLW_TSK_MAP_DETAILED'].nunique()

112

In [11]:
segment3_workflow1=segment3_workflow1.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment3_workflow1.head()

                 CASE_ID                            WRKFLW_TSK_MAP_DETAILED
0  1067449|424909|657898                                             Submit
1  1067449|424909|657898  AR - Satisfied - Academic results for prior te...
2  1067449|424909|657898  AR - Not Satisfied - English language proficiency
3  1067449|424909|657898       OC - Created - English language requirements
4  1067449|424909|657898  AR - Created - Assessment information (Coursew...

In [12]:
segment3_workflow2=segment3_workflow2.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment3_workflow2.head()

                 CASE_ID                      WRKFLW_TSK_MAP_DETAILED
0  1067449|424909|657898                          Send for Assessment
1  1067449|424909|657898  Acacdemic - Assessment Decision - Qualified
2  1067449|424909|657898              Assessment Outcome - Successful
3   913640|554685|848410                          Send for Assessment
4  1021374|367597|573577                          Send for Assessment

In [13]:
segment3_workflow3=segment3_workflow3.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment3_workflow3.head()

                 CASE_ID          WRKFLW_TSK_MAP_DETAILED
0  1067449|424909|657898  Assessment Outcome - Successful
1  1067449|424909|657898                     Create Offer
2  1067449|424909|657898                    Release Offer
3  1021374|367597|573577  Assessment Outcome - Successful
4  1021374|367597|573577                     Create Offer

In [14]:
segment3_workflow4=segment3_workflow4.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment3_workflow4.head()

                 CASE_ID                         WRKFLW_TSK_MAP_DETAILED
0  1067449|424909|657898                                   Release Offer
1  1067449|424909|657898  OC - Satisfied - English language requirements
2  1067449|424909|657898                                          Accept
3  1021374|367597|573577                                   Release Offer
4  1021374|367597|573577                                          Accept

In [15]:
numOfWorkflowProcesses=segment3_workflow1.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses.head()

CASE_ID
1000727|431447|668147     3
1001829|336678|526826     3
1001829|336678|526827     3
1001877|336757|526956     4
1002271|337186|527523    10
Name: CASE_ID, dtype: int64

In [16]:
numOfWorkflowProcesses2=segment3_workflow2.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses2.head()

CASE_ID
1000727|431447|668147    11
1001829|336678|526826     3
1001829|336678|526827     3
1001877|336757|526956    11
1002271|337186|527523     8
Name: CASE_ID, dtype: int64

In [17]:
numOfWorkflowProcesses3=segment3_workflow3.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses3.head()

CASE_ID
1000727|431447|668147    4
1001829|336678|526826    3
1001877|336757|526956    3
1002271|337186|527523    3
1007394|346044|540306    3
Name: CASE_ID, dtype: int64

In [18]:
numOfWorkflowProcesses4=segment3_workflow4.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses4.head()

CASE_ID
1000727|431447|668147    2
1001829|336678|526826    2
1001877|336757|526956    1
1002271|337186|527523    2
1007394|346044|540306    2
Name: CASE_ID, dtype: int64

In [19]:
counts = segment3_workflow1['CASE_ID'].value_counts()

In [20]:
counts2 = segment3_workflow2['CASE_ID'].value_counts()

In [25]:
counts3 = segment3_workflow3['CASE_ID'].value_counts()

In [26]:
counts4 = segment3_workflow4['CASE_ID'].value_counts()

In [27]:
counts.head()

1175521|568653|866936    19
1075305|437160|675799    18
1125321|497557|764055    17
1086364|448364|689547    17
1125242|497408|763842    17
Name: CASE_ID, dtype: int64

In [28]:
counts2.head()

1114684|484215|743082    22
1028582|370276|577743    16
1025815|366554|572153    15
1076583|437721|676610    15
1019820|360156|561476    15
Name: CASE_ID, dtype: int64

In [29]:
counts3.head()

1102908|470757|722758    12
1147799|528824|809849    11
1025815|366554|572153    10
1140264|517887|794176     9
1120436|490900|754192     9
Name: CASE_ID, dtype: int64

In [30]:
counts4.head()

1052275|402830|625246    7
1152919|538301|823869    6
954468|360490|561961     6
1025305|366531|571922    6
1076747|476620|731205    5
Name: CASE_ID, dtype: int64

In [1097]:
filtered = counts[counts == 12]
seg3_count1=segment3_workflow1[segment3_workflow1['CASE_ID'].isin(filtered.index)]

In [1098]:
filtered2 = counts2[counts2 == 12]
seg3_count2=segment3_workflow2[segment3_workflow2['CASE_ID'].isin(filtered.index)]

In [1099]:
filtered3 = counts3[counts3 == 12]
seg3_count3=segment3_workflow3[segment3_workflow3['CASE_ID'].isin(filtered.index)]

In [1100]:
filtered4 = counts4[counts4 == 12]
seg3_count4=segment3_workflow4[segment3_workflow4['CASE_ID'].isin(filtered.index)]

In [1101]:
seg3_count1['CASE_ID'].nunique()

17

In [1102]:
seg3_count1.head(14)

                   CASE_ID                            WRKFLW_TSK_MAP_DETAILED
91   1091479|456543|701091                                             Submit
92   1091479|456543|701091             AR - Created - Further information (1)
93   1091479|456543|701091  AR - Satisfied - Academic results for prior te...
94   1091479|456543|701091  AR - Not Satisfied - English language proficiency
95   1091479|456543|701091       OC - Created - English language requirements
96   1091479|456543|701091                                 Put Triage On-Hold
97   1091479|456543|701091      OC - Reviewed - English language requirements
98   1091479|456543|701091           AR - Satisfied - Further information (1)
99   1091479|456543|701091         AR - Satisfied - Credit for previous study
100  1091479|456543|701091  AR - Satisfied - Current enrolment at the Univ...
101  1091479|456543|701091                                Release Triage Hold
102  1091479|456543|701091                                Send for Assessment
286  1166245|557009|852109                                             Submit
287  1166245|557009|852109  AR - Satisfied - Academic results for prior te...

In [1103]:
seg3_count2['CASE_ID'].nunique()

15

In [1104]:
seg3_count2.head(17)

                    CASE_ID                            WRKFLW_TSK_MAP_DETAILED
39    1091479|456543|701091                                Send for Assessment
40    1091479|456543|701091                    Assessment Decision - Qualified
41    1091479|456543|701091                    Assessment Decision - Qualified
42    1091479|456543|701091                    Assessment Outcome - Successful
609   1098501|465601|715261                                Send for Assessment
610   1098501|465601|715261                  Assessment Decision - No Decision
611   1098501|465601|715261                    Assessment Outcome - Successful
615   1065458|422005|653577                                Send for Assessment
616   1065458|422005|653577        Acacdemic - Assessment Decision - Qualified
617   1065458|422005|653577                    Assessment Outcome - Successful
929    813767|478572|734181                                Send for Assessment
930    813767|478572|734181                    Assessment Decision - Qualified
931    813767|478572|734181                    Assessment Decision - Qualified
932    813767|478572|734181                    Assessment Outcome - Successful
1142  1097690|464562|713617                                Send for Assessment
1143  1097690|464562|713617  Assessment Outcome - Higher Preference Successful
1144  1097690|464562|713617     OC - Satisfied - English language requirements

In [1105]:
seg3_count3['CASE_ID'].nunique()

11

In [1106]:
seg3_count3.head(17)

                   CASE_ID                            WRKFLW_TSK_MAP_DETAILED
18   1091479|456543|701091                    Assessment Outcome - Successful
19   1091479|456543|701091                                       Create Offer
20   1091479|456543|701091                                      Release Offer
223  1147799|528824|809849                Assessment Outcome - Not Successful
224  1147799|528824|809849  AR - Created - Assessment information (Coursew...
225  1147799|528824|809849  AR - Satisfied - Assessment information (Cours...
226  1147799|528824|809849                 AR - Satisfied - Advanced Standing
227  1147799|528824|809849      AR - Satisfied - English language proficiency
228  1147799|528824|809849         AR - Satisfied - Graduate Access Melbourne
229  1147799|528824|809849  AR - Satisfied - Current enrolment at the Univ...
230  1147799|528824|809849  AR - Satisfied - Academic results for prior te...
231  1147799|528824|809849            AR - Satisfied - Transcript Ã» My eQuals
232  1147799|528824|809849                                Send for Assessment
233  1147799|528824|809849                                  End My Assessment
279  1098501|465601|715261                    Assessment Outcome - Successful
280  1098501|465601|715261                                       Create Offer
281  1098501|465601|715261                                      Release Offer

In [1107]:
seg3_count4['CASE_ID'].nunique()

9

In [1108]:
seg3_count4.head(17)

                   CASE_ID WRKFLW_TSK_MAP_DETAILED
11   1091479|456543|701091           Release Offer
131  1098501|465601|715261           Release Offer
132  1098501|465601|715261                 Decline
133  1065458|422005|653577           Release Offer
134  1065458|422005|653577                 Decline
200   813767|478572|734181           Release Offer
201   813767|478572|734181                 Decline
279  1093614|459356|705552           Release Offer
280  1093614|459356|705552                  Accept
306  1058761|412208|639044           Release Offer
307  1058761|412208|639044                  Accept
338  1153045|537241|822220           Release Offer
339  1153045|537241|822220                  Accept
403   382657|562314|859879           Release Offer
404   382657|562314|859879                  Accept
445  1055577|472815|725661           Release Offer
446  1055577|472815|725661                  Accept

In [1109]:
frames = [seg3_count1, seg3_count2, seg3_count3, seg3_count4]
count_12=pd.concat(frames)

In [1110]:
y = pd.get_dummies(seg3_count1.WRKFLW_TSK_MAP_DETAILED)
y=y[:0]

In [1111]:
y

Empty DataFrame
Columns: [AR - Created - Assessment information (Coursework) (1), AR - Created - Further information (1), AR - Created - Syllabus (Melbourne School of Engineering), AR - Created - University of Melbourne Statement of Results / transcript, AR - Not Satisfied - English language proficiency, AR - Requested - Official syllabus or subject descriptions (in English), AR - Reviewed - Advanced Standing, AR - Reviewed - Current enrolment at the University of Melbourne, AR - Reviewed - Graduate Access Melbourne, AR - Reviewed - Official syllabus or subject descriptions (in English), AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - Advanced Standing, AR - Satisfied - Assessment information (Coursework) (1), AR - Satisfied - Credit for previous study, AR - Satisfied - Current enrolment at the University of Melbourne, AR - Satisfied - Curriculum Vitae, AR - Satisfied - Curriculum Vitae and professional experience, AR - Satisfied - Employer reference letter, AR - Satisfied - English language proficiency, AR - Satisfied - Entry points (Master of Information Systems), AR - Satisfied - Entry points (Master of Information Technology), AR - Satisfied - Further information (1), AR - Satisfied - Graduate Access Melbourne, AR - Satisfied - Official syllabus or subject descriptions (in English), AR - Satisfied - Personal statement (500 words), AR - Satisfied - Specialisation (Master of Information Systems), AR - Satisfied - Specialisation (Master of Information Technology), AR - Satisfied - Transcript Ã» My eQuals, AR - Satisfied - University of Melbourne Statement of Results / transcript, Assessment Decision - No Decision, Assessment Decision - Not Qualified, Assessment Decision - Qualified, Assessment Outcome - Not Successful, OC - Created - English language requirements, OC - Reviewed - English language requirements, Put Triage On-Hold, Release Triage Hold, Send Referral, Send for Assessment, Submit]
Index: []

[0 rows x 40 columns]

In [1112]:
y2 = pd.get_dummies(seg3_count2.WRKFLW_TSK_MAP_DETAILED)
y2=y2[:0]

In [1113]:
y2

Empty DataFrame
Columns: [AR - Satisfied - English language proficiency, Acacdemic - Assessment Decision - No Decision, Acacdemic - Assessment Decision - Not Qualified, Acacdemic - Assessment Decision - Qualified, Assessment Decision - No Decision, Assessment Decision - Not Qualified, Assessment Decision - Qualified, Assessment Outcome - Higher Preference Successful, Assessment Outcome - Ineligible / Withdrawn, Assessment Outcome - Not Successful, Assessment Outcome - Successful, Close Referral, OC - Created - Evidence of course completion, OC - Satisfied - English language requirements, OC - Satisfied - Evidence of course completion, Provide Response, Put Assessment On-Hold, Release Assessment Hold, Send for Assessment]
Index: []

In [1114]:
y3 = pd.get_dummies(seg3_count3.WRKFLW_TSK_MAP_DETAILED)
y3=y3[:0]

In [1115]:
y3

Empty DataFrame
Columns: [AR - Created - Assessment information (Coursework) (1), AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - Advanced Standing, AR - Satisfied - Assessment information (Coursework) (1), AR - Satisfied - Current enrolment at the University of Melbourne, AR - Satisfied - English language proficiency, AR - Satisfied - Graduate Access Melbourne, AR - Satisfied - Transcript Ã» My eQuals, Assessment Outcome - Not Successful, Assessment Outcome - Successful, Create Offer, End My Assessment, OC - Created - Evidence of course completion, Release Offer, Send for Assessment]
Index: []

In [1116]:
y4 = pd.get_dummies(seg3_count4.WRKFLW_TSK_MAP_DETAILED)
y4=y4[:0]

In [1117]:
y4

Empty DataFrame
Columns: [Accept, Decline, Release Offer]
Index: []

In [1118]:
y5=pd.merge(y, y2, on='Send for Assessment')
y5

Empty DataFrame
Columns: [AR - Created - Assessment information (Coursework) (1), AR - Created - Further information (1), AR - Created - Syllabus (Melbourne School of Engineering), AR - Created - University of Melbourne Statement of Results / transcript, AR - Not Satisfied - English language proficiency, AR - Requested - Official syllabus or subject descriptions (in English), AR - Reviewed - Advanced Standing, AR - Reviewed - Current enrolment at the University of Melbourne, AR - Reviewed - Graduate Access Melbourne, AR - Reviewed - Official syllabus or subject descriptions (in English), AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - Advanced Standing, AR - Satisfied - Assessment information (Coursework) (1), AR - Satisfied - Credit for previous study, AR - Satisfied - Current enrolment at the University of Melbourne, AR - Satisfied - Curriculum Vitae, AR - Satisfied - Curriculum Vitae and professional experience, AR - Satisfied - Employer reference letter, AR - Satisfied - English language proficiency_x, AR - Satisfied - Entry points (Master of Information Systems), AR - Satisfied - Entry points (Master of Information Technology), AR - Satisfied - Further information (1), AR - Satisfied - Graduate Access Melbourne, AR - Satisfied - Official syllabus or subject descriptions (in English), AR - Satisfied - Personal statement (500 words), AR - Satisfied - Specialisation (Master of Information Systems), AR - Satisfied - Specialisation (Master of Information Technology), AR - Satisfied - Transcript Ã» My eQuals, AR - Satisfied - University of Melbourne Statement of Results / transcript, Assessment Decision - No Decision_x, Assessment Decision - Not Qualified_x, Assessment Decision - Qualified_x, Assessment Outcome - Not Successful_x, OC - Created - English language requirements, OC - Reviewed - English language requirements, Put Triage On-Hold, Release Triage Hold, Send Referral, Submit, AR - Satisfied - English language proficiency_y, Acacdemic - Assessment Decision - No Decision, Acacdemic - Assessment Decision - Not Qualified, Acacdemic - Assessment Decision - Qualified, Assessment Decision - No Decision_y, Assessment Decision - Not Qualified_y, Assessment Decision - Qualified_y, Assessment Outcome - Higher Preference Successful, Assessment Outcome - Ineligible / Withdrawn, Assessment Outcome - Not Successful_y, Assessment Outcome - Successful, Close Referral, OC - Created - Evidence of course completion, OC - Satisfied - English language requirements, OC - Satisfied - Evidence of course completion, Provide Response, Put Assessment On-Hold, Release Assessment Hold, Send for Assessment]
Index: []

[0 rows x 58 columns]

In [1119]:
y5.columns = y5.columns.str.replace("_x", "")

In [1120]:
y5.columns = y5.columns.str.replace("_y", "")

In [1121]:
y5 = y5.loc[:,~y5.columns.duplicated()]

In [1122]:
y5.shape

(0, 53)

In [1123]:
y6=pd.merge(y3, y5, on='Assessment Outcome - Successful')
y6

Empty DataFrame
Columns: [AR - Created - Assessment information (Coursework) (1)_x, AR - Satisfied - Academic results for prior tertiary studies_x, AR - Satisfied - Advanced Standing_x, AR - Satisfied - Assessment information (Coursework) (1)_x, AR - Satisfied - Current enrolment at the University of Melbourne_x, AR - Satisfied - English language proficiency_x, AR - Satisfied - Graduate Access Melbourne_x, AR - Satisfied - Transcript Ã» My eQuals_x, Assessment Outcome - Not Successful_x, Create Offer, End My Assessment, OC - Created - Evidence of course completion_x, Release Offer, Send for Assessment_x, AR - Created - Assessment information (Coursework) (1)_y, AR - Created - Further information (1), AR - Created - Syllabus (Melbourne School of Engineering), AR - Created - University of Melbourne Statement of Results / transcript, AR - Not Satisfied - English language proficiency, AR - Requested - Official syllabus or subject descriptions (in English), AR - Reviewed - Advanced Standing, AR - Reviewed - Current enrolment at the University of Melbourne, AR - Reviewed - Graduate Access Melbourne, AR - Reviewed - Official syllabus or subject descriptions (in English), AR - Satisfied - Academic results for prior tertiary studies_y, AR - Satisfied - Advanced Standing_y, AR - Satisfied - Assessment information (Coursework) (1)_y, AR - Satisfied - Credit for previous study, AR - Satisfied - Current enrolment at the University of Melbourne_y, AR - Satisfied - Curriculum Vitae, AR - Satisfied - Curriculum Vitae and professional experience, AR - Satisfied - Employer reference letter, AR - Satisfied - English language proficiency_y, AR - Satisfied - Entry points (Master of Information Systems), AR - Satisfied - Entry points (Master of Information Technology), AR - Satisfied - Further information (1), AR - Satisfied - Graduate Access Melbourne_y, AR - Satisfied - Official syllabus or subject descriptions (in English), AR - Satisfied - Personal statement (500 words), AR - Satisfied - Specialisation (Master of Information Systems), AR - Satisfied - Specialisation (Master of Information Technology), AR - Satisfied - Transcript Ã» My eQuals_y, AR - Satisfied - University of Melbourne Statement of Results / transcript, Assessment Decision - No Decision, Assessment Decision - Not Qualified, Assessment Decision - Qualified, Assessment Outcome - Not Successful_y, OC - Created - English language requirements, OC - Reviewed - English language requirements, Put Triage On-Hold, Release Triage Hold, Send Referral, Submit, Acacdemic - Assessment Decision - No Decision, Acacdemic - Assessment Decision - Not Qualified, Acacdemic - Assessment Decision - Qualified, Assessment Outcome - Higher Preference Successful, Assessment Outcome - Ineligible / Withdrawn, Assessment Outcome - Successful, Close Referral, OC - Created - Evidence of course completion_y, OC - Satisfied - English language requirements, OC - Satisfied - Evidence of course completion, Provide Response, Put Assessment On-Hold, Release Assessment Hold, Send for Assessment_y]
Index: []

[0 rows x 67 columns]

In [1124]:
y6.columns = y6.columns.str.replace("_x", "")

In [1125]:
y6.columns = y6.columns.str.replace("_y", "")

In [1126]:
y6 = y6.loc[:,~y6.columns.duplicated()]

In [1127]:
y6.shape

(0, 56)

In [1128]:
y7=pd.merge(y4, y6, on='Release Offer')
y7

Empty DataFrame
Columns: [Accept, Decline, AR - Created - Assessment information (Coursework) (1), AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - Advanced Standing, AR - Satisfied - Assessment information (Coursework) (1), AR - Satisfied - Current enrolment at the University of Melbourne, AR - Satisfied - English language proficiency, AR - Satisfied - Graduate Access Melbourne, AR - Satisfied - Transcript Ã» My eQuals, Assessment Outcome - Not Successful, Create Offer, End My Assessment, OC - Created - Evidence of course completion, Release Offer, Send for Assessment, AR - Created - Further information (1), AR - Created - Syllabus (Melbourne School of Engineering), AR - Created - University of Melbourne Statement of Results / transcript, AR - Not Satisfied - English language proficiency, AR - Requested - Official syllabus or subject descriptions (in English), AR - Reviewed - Advanced Standing, AR - Reviewed - Current enrolment at the University of Melbourne, AR - Reviewed - Graduate Access Melbourne, AR - Reviewed - Official syllabus or subject descriptions (in English), AR - Satisfied - Credit for previous study, AR - Satisfied - Curriculum Vitae, AR - Satisfied - Curriculum Vitae and professional experience, AR - Satisfied - Employer reference letter, AR - Satisfied - Entry points (Master of Information Systems), AR - Satisfied - Entry points (Master of Information Technology), AR - Satisfied - Further information (1), AR - Satisfied - Official syllabus or subject descriptions (in English), AR - Satisfied - Personal statement (500 words), AR - Satisfied - Specialisation (Master of Information Systems), AR - Satisfied - Specialisation (Master of Information Technology), AR - Satisfied - University of Melbourne Statement of Results / transcript, Assessment Decision - No Decision, Assessment Decision - Not Qualified, Assessment Decision - Qualified, OC - Created - English language requirements, OC - Reviewed - English language requirements, Put Triage On-Hold, Release Triage Hold, Send Referral, Submit, Acacdemic - Assessment Decision - No Decision, Acacdemic - Assessment Decision - Not Qualified, Acacdemic - Assessment Decision - Qualified, Assessment Outcome - Higher Preference Successful, Assessment Outcome - Ineligible / Withdrawn, Assessment Outcome - Successful, Close Referral, OC - Satisfied - English language requirements, OC - Satisfied - Evidence of course completion, Provide Response, Put Assessment On-Hold, Release Assessment Hold]
Index: []

[0 rows x 58 columns]

In [1129]:
y7.columns = y7.columns.str.replace("_x", "")

In [1130]:
y7.columns = y7.columns.str.replace("_y", "")

In [1131]:
y7 = y7.loc[:,~y7.columns.duplicated()]

In [1132]:
y7.shape

(0, 58)

In [1133]:
y7["CASE_ID"]=""

In [1134]:
col_name="CASE_ID"
first_col = y7.pop(col_name)

In [1135]:
y7.insert(0, col_name, first_col)

In [1136]:
y7['CASE_ID']=count_12['CASE_ID'].unique()

In [1137]:
import numpy as np
y7 = y7.replace(np.nan,0, regex=True)
y7.head()

,CASE_ID,Accept,Decline,AR - Created - Assessment information (Coursework) (1),AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,AR - Satisfied - Assessment information (Coursework) (1),AR - Satisfied - Current enrolment at the University of Melbourne,AR - Satisfied - English language proficiency,AR - Satisfied - Graduate Access Melbourne,...,Acacdemic - Assessment Decision - Qualified,Assessment Outcome - Higher Preference Successful,Assessment Outcome - Ineligible / Withdrawn,Assessment Outcome - Successful,Close Referral,OC - Satisfied - English language requirements,OC - Satisfied - Evidence of course completion,Provide Response,Put Assessment On-Hold,Release Assessment Hold
0,1091479|456543|701091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1166245|557009|852109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1147799|528824|809849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1098501|465601|715261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1065458|422005|653577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1138]:
count_12.head()

                  CASE_ID                            WRKFLW_TSK_MAP_DETAILED
91  1091479|456543|701091                                             Submit
92  1091479|456543|701091             AR - Created - Further information (1)
93  1091479|456543|701091  AR - Satisfied - Academic results for prior te...
94  1091479|456543|701091  AR - Not Satisfied - English language proficiency
95  1091479|456543|701091       OC - Created - English language requirements

In [1139]:
dict_1=count_12.to_dict(orient='list')

In [1140]:
case_id = dict_1['CASE_ID']

In [1141]:
workflow = dict_1['WRKFLW_TSK_MAP_DETAILED']

In [1142]:
print(type(workflow))
print(len(workflow))

<class 'list'>
320

In [1143]:
from collections import defaultdict

case_wf_dict = defaultdict(list)

for i in range(len(case_id)):
    item = case_id[i]
    case_wf_dict[item].append(workflow[i])
print(len(case_wf_dict))

17

In [1144]:
y7 = y7.set_index('CASE_ID')

In [1145]:
y7.head()

,Accept,Decline,AR - Created - Assessment information (Coursework) (1),AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,AR - Satisfied - Assessment information (Coursework) (1),AR - Satisfied - Current enrolment at the University of Melbourne,AR - Satisfied - English language proficiency,AR - Satisfied - Graduate Access Melbourne,AR - Satisfied - Transcript Ã» My eQuals,...,Acacdemic - Assessment Decision - Qualified,Assessment Outcome - Higher Preference Successful,Assessment Outcome - Ineligible / Withdrawn,Assessment Outcome - Successful,Close Referral,OC - Satisfied - English language requirements,OC - Satisfied - Evidence of course completion,Provide Response,Put Assessment On-Hold,Release Assessment Hold
CASE_ID,,,,,,,,,,,,,,,,,,,,,
1091479|456543|701091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1166245|557009|852109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1147799|528824|809849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1098501|465601|715261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1065458|422005|653577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1146]:
y_col_name = y7.columns.values.tolist()
print(y_col_name)

['Accept', 'Decline', 'AR - Created - Assessment information (Coursework) (1)', 'AR - Satisfied - Academic results for prior tertiary studies', 'AR - Satisfied - Advanced Standing', 'AR - Satisfied - Assessment information (Coursework) (1)', 'AR - Satisfied - Current enrolment at the University of Melbourne', 'AR - Satisfied - English language proficiency', 'AR - Satisfied - Graduate Access Melbourne', 'AR - Satisfied - Transcript Ã» My eQuals', 'Assessment Outcome - Not Successful', 'Create Offer', 'End My Assessment', 'OC - Created - Evidence of course completion', 'Release Offer', 'Send for Assessment', 'AR - Created - Further information (1)', 'AR - Created - Syllabus (Melbourne School of Engineering)', 'AR - Created - University of Melbourne Statement of Results / transcript', 'AR - Not Satisfied - English language proficiency', 'AR - Requested - Official syllabus or subject descriptions (in English)', 'AR - Reviewed - Advanced Standing', 'AR - Reviewed - Current enrolment at the University of Melbourne', 'AR - Reviewed - Graduate Access Melbourne', 'AR - Reviewed - Official syllabus or subject descriptions (in English)', 'AR - Satisfied - Credit for previous study', 'AR - Satisfied - Curriculum Vitae', 'AR - Satisfied - Curriculum Vitae and professional experience', 'AR - Satisfied - Employer reference letter', 'AR - Satisfied - Entry points (Master of Information Systems)', 'AR - Satisfied - Entry points (Master of Information Technology)', 'AR - Satisfied - Further information (1)', 'AR - Satisfied - Official syllabus or subject descriptions (in English)', 'AR - Satisfied - Personal statement (500 words)', 'AR - Satisfied - Specialisation (Master of Information Systems)', 'AR - Satisfied - Specialisation (Master of Information Technology)', 'AR - Satisfied - University of Melbourne Statement of Results / transcript', 'Assessment Decision - No Decision', 'Assessment Decision - Not Qualified', 'Assessment Decision - Qualified', 'OC - Created - English language requirements', 'OC - Reviewed - English language requirements', 'Put Triage On-Hold', 'Release Triage Hold', 'Send Referral', 'Submit', 'Acacdemic - Assessment Decision - No Decision', 'Acacdemic - Assessment Decision - Not Qualified', 'Acacdemic - Assessment Decision - Qualified', 'Assessment Outcome - Higher Preference Successful', 'Assessment Outcome - Ineligible / Withdrawn', 'Assessment Outcome - Successful', 'Close Referral', 'OC - Satisfied - English language requirements', 'OC - Satisfied - Evidence of course completion', 'Provide Response', 'Put Assessment On-Hold', 'Release Assessment Hold']

In [1147]:
for key in case_wf_dict.keys():
    for process in case_wf_dict[key]:
        if process in y_col_name:
            y7.loc[key, process] = 1
        else:
            continue

In [1148]:
pd.set_option('display.max_rows', None)

In [1149]:
y7['Submit'].head()

CASE_ID
1091479|456543|701091    1.0
1166245|557009|852109    1.0
1147799|528824|809849    1.0
1098501|465601|715261    1.0
1065458|422005|653577    1.0
Name: Submit, dtype: float64

In [1150]:
y7['Send for Assessment'].head()

CASE_ID
1091479|456543|701091    1.0
1166245|557009|852109    0.0
1147799|528824|809849    1.0
1098501|465601|715261    1.0
1065458|422005|653577    1.0
Name: Send for Assessment, dtype: float64

In [1151]:
y7.head()

,Accept,Decline,AR - Created - Assessment information (Coursework) (1),AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,AR - Satisfied - Assessment information (Coursework) (1),AR - Satisfied - Current enrolment at the University of Melbourne,AR - Satisfied - English language proficiency,AR - Satisfied - Graduate Access Melbourne,AR - Satisfied - Transcript Ã» My eQuals,...,Acacdemic - Assessment Decision - Qualified,Assessment Outcome - Higher Preference Successful,Assessment Outcome - Ineligible / Withdrawn,Assessment Outcome - Successful,Close Referral,OC - Satisfied - English language requirements,OC - Satisfied - Evidence of course completion,Provide Response,Put Assessment On-Hold,Release Assessment Hold
CASE_ID,,,,,,,,,,,,,,,,,,,,,
1091479|456543|701091,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1166245|557009|852109,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1147799|528824|809849,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1098501|465601|715261,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1065458|422005|653577,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1152]:
def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [1153]:
y7.head()

,Accept,Decline,AR - Created - Assessment information (Coursework) (1),AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,AR - Satisfied - Assessment information (Coursework) (1),AR - Satisfied - Current enrolment at the University of Melbourne,AR - Satisfied - English language proficiency,AR - Satisfied - Graduate Access Melbourne,AR - Satisfied - Transcript Ã» My eQuals,...,Acacdemic - Assessment Decision - Qualified,Assessment Outcome - Higher Preference Successful,Assessment Outcome - Ineligible / Withdrawn,Assessment Outcome - Successful,Close Referral,OC - Satisfied - English language requirements,OC - Satisfied - Evidence of course completion,Provide Response,Put Assessment On-Hold,Release Assessment Hold
CASE_ID,,,,,,,,,,,,,,,,,,,,,
1091479|456543|701091,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1166245|557009|852109,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1147799|528824|809849,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1098501|465601|715261,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1065458|422005|653577,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1154]:
y7 = movecol(y7, 
             cols_to_move=['Accept'], 
             ref_col='Release Assessment Hold',
             place='After')

In [1155]:
y7 = movecol(y7, 
             cols_to_move=['Defer'], 
             ref_col='Release Assessment Hold',
             place='After')

KeyError: "['Defer'] not in index"

In [1156]:
y7.shape

(17, 58)

In [1157]:
y7=y7.fillna(0.0)

In [1158]:
X=y7.iloc[:,0:57].values
Y=y7.iloc[:,57].values

In [1159]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

In [1162]:
# K Nearest Neighbors
Knn = KNeighborsClassifier(n_neighbors=5)
Knn.fit(x_train,y_train)

KNeighborsClassifier()

In [1163]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

accuracy: 50.0%