In [1]:
import csv
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [2]:
segment2=pd.read_csv('segment2_clean.csv')

In [7]:
del segment2['Unnamed: 0']

In [8]:
segment2.dtypes

CASE_ID                   object
STU_CITIZEN_NM            object
STU_ABOR_TSI_NM           object
SUBMISSION_METHOD         object
ENTRY_TYPE                object
ASSESSMENT_DECISION_NM    object
ASSESSMENT_OUTCOME_NM     object
LAST_COUNTRY_EDUCATION    object
PREFERENCE_NO              int64
AVAIL_ORG_UNIT_NM         object
STUDY_MODE_CD             object
RETURNING_DEFERRAL        object
CURR_AVAIL_YR              int64
CURR_STUDY_PERIOD         object
ORIG_AVAIL_YR              int64
ORIG_STUDY_PERIOD         object
SPK_CAT_TYPE_CD           object
OFFER_RELEASED_FG         object
OFFER_OUTCOME_CD          object
OFFER_CONDITIONS          object
dtype: object

In [43]:
segment2.head()

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,ASSESSMENT_DECISION_NM,ASSESSMENT_OUTCOME_NM,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,STUDY_MODE_CD,RETURNING_DEFERRAL,CURR_AVAIL_YR,CURR_STUDY_PERIOD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,646035|228799|364549,Permanent Humanitarian Visa,No,Online Application,Bachelor (equiv Aust 3yr deg),Qualified,Successful,Pakistan,1,Engineering,STD,Y,2019,Start Year Intake,2017,Mid Year Intake,MCW,Y,$DEF,N
1,935028|237355|377891,Australian,No,Online Application,NaN,NaN,NaN,Australia,4,Engineering,STD,N,2019,Start Year Intake,2019,Start Year Intake,MCW,NaN,NaN,N
2,927815|252562|402189,Permanent Resident (excl Humanitarian),No,Online Application,Bachelor (equiv Aust 3yr deg),Not Assessed,Higher Preference Successful,Malaysia,1,Engineering,STD,N,2019,Start Year Intake,2019,Start Year Intake,MCW,NaN,NaN,N
3,948712|255338|406632,Permanent Resident (excl Humanitarian),No,Online Application,Bachelor (equiv Aust 3yr deg),Qualified,Successful,Pakistan,1,Engineering,STD,Y,2019,Start Year Intake,2018,Mid Year Intake,MCW,Y,$DEF,N
4,198520171|266984|425445,Australian,No,Online Application,Masters CW,No Decision,Successful,Australia,1,Engineering,STD,Y,2019,Start Year Intake,2018,Start Year Intake,MCW,Y,$ACC,Y

In [11]:
seg2=segment2[['CASE_ID','STU_CITIZEN_NM','STU_ABOR_TSI_NM','SUBMISSION_METHOD','ENTRY_TYPE','LAST_COUNTRY_EDUCATION',
          'PREFERENCE_NO','AVAIL_ORG_UNIT_NM','STUDY_MODE_CD','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','SPK_CAT_TYPE_CD',
          'OFFER_RELEASED_FG']]

In [12]:
seg2.dtypes

CASE_ID                   object
STU_CITIZEN_NM            object
STU_ABOR_TSI_NM           object
SUBMISSION_METHOD         object
ENTRY_TYPE                object
LAST_COUNTRY_EDUCATION    object
PREFERENCE_NO              int64
AVAIL_ORG_UNIT_NM         object
STUDY_MODE_CD             object
ORIG_AVAIL_YR              int64
ORIG_STUDY_PERIOD         object
SPK_CAT_TYPE_CD           object
OFFER_RELEASED_FG         object
dtype: object

#### Labelling the categorical variables

In [14]:
seg2.iloc[:,3] = LE.fit_transform(seg2.iloc[:,3].astype(str))

seg2.iloc[:,4] = LE.fit_transform(seg2.iloc[:,4].astype(str))

seg2.iloc[:,5] = LE.fit_transform(seg2.iloc[:,5].astype(str))

seg2.iloc[:,12] = LE.fit_transform(seg2.iloc[:,12].astype(str))

/Users/ab0707/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [16]:
seg2.iloc[:,1] = LE.fit_transform(seg2.iloc[:, 1].values)

seg2.iloc[:,2] = LE.fit_transform(seg2.iloc[:, 2].values)

seg2.iloc[:,7] = LE.fit_transform(seg2.iloc[:, 7].values)

seg2.iloc[:,8] = LE.fit_transform(seg2.iloc[:, 8].values)

seg2.iloc[:,10] = LE.fit_transform(seg2.iloc[:, 10].values)

seg2.iloc[:,11] = LE.fit_transform(seg2.iloc[:, 11].values)

In [17]:
seg2.dtypes

CASE_ID                   object
STU_CITIZEN_NM             int64
STU_ABOR_TSI_NM            int64
SUBMISSION_METHOD          int64
ENTRY_TYPE                 int64
LAST_COUNTRY_EDUCATION     int64
PREFERENCE_NO              int64
AVAIL_ORG_UNIT_NM          int64
STUDY_MODE_CD              int64
ORIG_AVAIL_YR              int64
ORIG_STUDY_PERIOD          int64
SPK_CAT_TYPE_CD            int64
OFFER_RELEASED_FG          int64
dtype: object

#### For Response Variable 1 (OFFER_RELEASED_FG())

In [18]:
X=seg2.iloc[:,1:12].values
Y=seg2.iloc[:,12].values

In [19]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

In [20]:
# Logistic Regression
lr = LogisticRegression()

In [21]:
lr.fit(x_train,y_train)

LogisticRegression()

In [22]:
lr_predict=lr.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, lr_predict)*100,2)))

accuracy: 78.56%

In [41]:
# Linear SVM
svm = LinearSVC()
svm.fit(x_train, y_train)

/Users/ab0707/opt/anaconda3/lib/python3.8/site-packages/sklearn/svm/_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC()

In [42]:
svm_predict = svm.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svm_predict)*100,2)))

accuracy: 69.48%

In [29]:
# K Nearest Neighbors
Knn = KNeighborsClassifier()
Knn.fit(x_train,y_train)

KNeighborsClassifier()

In [30]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

accuracy: 64.79%